<body>
<div class="sidenav">
  <h1>Welcome, ADMIN</h1>
  <a [routerLink]="['/adminpage']">Dashboard</a>
  <a [routerLink]="['/bookinghistory']">Booking History</a>
  <a [routerLink]="['/home']">Log Out</a>
</div>
<div class="content">
<h2>Employee Booking List</h2>
<table>
  <thead>
    <tr>
      <th>Booking ID</th>
      <th>Seat No</th>
      <th>Employee ID</th>
      <th>Tower Name</th>
      <th>Floor Name</th>
      <th>Booking Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let booking of bookings">
      <td>{{ booking.bookingId }}</td>
      <td>{{ booking.seatno }}</td>
      <td>{{ booking.employeeId }}</td>
      <td>{{ booking.towerName }}</td>
      <td>{{ booking.floorName }}</td>
      <td>{{ booking.bookingDate }}</td>
    </tr>
  </tbody>
</table>
</div>
</body>

