<div class="content">
    <div class="header" style="display: flex; justify-content: space-between;">
        <ul>
            <li><a [routerLink]="['/adminlogin']">Login as ADMIN</a></li>
            <li><a [routerLink]="['/login']">Login</a></li>
            <li><a [routerLink]="['/signup']">SignUp</a></li>
        </ul>
    </div>
    <div>
        <h2>TEAM GLOBEMASTERS</h2>
        <h1>Welcome to our <br>Seat Booking Web Application</h1>
    </div>
</div>
<div style="display: flex; justify-content:center; margin-top: 240px;">
    <p>
        Copyright © 2023  ®Rohith Parthiban
    </p>
</div>



